body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #077bff;
    color: black;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: silver;
}

section {
    padding: 20px;
     margin: 20px;
            background-color: silver;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

footer {
    text-align: center;
    background-color: grey;
    padding: 10px;
}